body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    background-color: #222831;
}

.contenedor {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    height: 100vh;
}

header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 60px;
    background-color: #EEEEEE;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ingreso {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    margin-right: 20px;
}

.ingreso a {
    padding: 5px;
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 50px;

}

.logo p {
    font-family: "Marcellus SC", serif;
    color: #222831;
    font-size: 1.2em;
    margin-left: 10px;
    font-weight: bold;
    padding-left: 10px;
}

nav ul {
    display: flex;
    padding: 0;
    margin-right: 30px;
    font-size: 1em
}

nav ul li {
    list-style-type: none;
    margin-right: 40px;
}

nav ul a {
    text-decoration: none;
    color: #222831;
    font-weight: 500;
}

ul a:hover {
    border-bottom: 5px #76ABAE solid;
    font-weight: 600;
    padding-bottom: 8px;
}

.ingreso a:hover {
    font-weight: 600;
    color: #76ABAE;
    outline: 1px solid #222831;
}

.img-fondo {
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
}

.contenedor .contenedor-main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #222831;
    color: white;
    align-items: center;
    text-align: center;

}

.texto p {
    color: #EEEEEE;
    font-size: 0.9em;
    line-height: 1.5;
    margin-top: 40px;
    padding: 0 10px;
}

h1 {
    font-family: "Marcellus SC", serif;
    font-size: 3em;
    font-weight: 500;
    color: #EEEEEE;
    margin-top: 60px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #76ABAE;
    color: #222831;
    height: 80px;

    position: relative;
}
.social img {
    padding: 15px;
    transition: transform 0.3s ease-in-out; 
}
.social img:hover {
    transform: scale(1.1); 
}

/* Estilos regiones */

.contenedor-regiones {
    display: grid;
    grid-template-rows: repeat(3, auto);
}

.cont-main-regiones {
    display: grid;
    grid-template-rows: auto 1fr;
    position: relative;
}
.norte .imagen{
    background-image: url(../imagenes/jujuy.jpg);
}

.centro .imagen{
    background-image: url(../imagenes/obelisco-noche-1500x610-luces-2022.jpg);
    background-color: #76abaec4;
}

.cuyo .imagen{
    background-image: url(../imagenes/viñedos\ -\ montañas.jpg);
}

.litoral .imagen{
    background-image: url(../imagenes/litoral.jpg);
}

.patagonia .imagen {
    background-image: url(../imagenes/patagonia.jpg);
}
.imagen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    background-size: 100% auto;
    height: 100vh;
    background-repeat: no-repeat;
    position: relative;
}


.titulo-region {
    background-color: #76abae94;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}

.titulo-region p {
    color: #EEEEEE;
    font-size: 1.2em;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.titulo-region h1 {
    font-weight: normal;
    margin-top: 0;
}

.recetas{
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 10px;
    margin: 20px auto;
    width: 80%;
}

.cont-recetas{
   padding-top: 60px;
}

.recetas h3 {
    color: #ddd;
    font-weight: 500;
    margin-top: 0;
}

.recetas h4 {
    margin: 0;
}


.recetas > article {
    background-color: #EEEEEE;
    display: grid;
    grid-template-columns: 1fr 2fr;
    transition: transform 0.3s ease-in-out;
}

.recetas article:hover {
    box-shadow: 0 0 20px rgba(113, 112, 112, 0.395);
    transform: scale(1.02);
}

article .img-receta{
    background-size: cover;
    background-position: center;  
    width: 100%;    
}

.img-receta{
    background-size: cover;
    background-position: center;  
    width: 100%;    
}

.empanadas .img-receta {
    background-image: url(../imagenes/empanadas.jpg);  
}

.humita .img-receta{
    background-image: url(../imagenes/humita-chala-1024x683.jpg);
}

.locro .img-receta {
    background-image: url(../imagenes/locro.jpg);
}

.asado .img-receta{
    background-image: url(../imagenes/fondo-asado2.jpg);
}

.milanesas .img-receta{
    background-image: url(../imagenes/milanesas.jpg);
}

.pastas .img-receta{
    background-image: url(../imagenes/pastas.jpg);
}

.pizza .img-receta{
    background-image: url(../imagenes/pizza.jpeg);
}

.cabrito .img-receta{
    background-image: url(../imagenes/piernas-de-cabrito-asadas-1.jpg);
}

.carbonada .img-receta{
    background-image: url(../imagenes/carbonada-en-zapallo.jpg);
}

.cazuela .img-receta{
    background-image: url(../imagenes/cazuelaave.jpg);
}

.puchero .img-receta{
    background-image: url(../imagenes/Receta-de-Puchero.webp);
}

.surubi .img-receta {
    background-image: url(../imagenes/surubi.webp);
}

.sopa_paraguaya .img-receta {
    background-image: url(../imagenes/sopa-paraguaya.jpg);
}

.chipa .img-receta {
    background-image: url(../imagenes/chipa.jpg);
}

.cordero .img-receta {
    background-image: url(../imagenes/cordero-paatag.jpg);
}

.trucha .img-receta {
    background-image: url(../imagenes/trucha.webp);
}

.mariscos .img-receta {
    background-image: url(../imagenes/mariscos.webp);
}

.ciervo .img-receta {
    background-image: url(../imagenes/ciervo.webp);
}

.txt-receta {
    position: relative;
    padding: 10px;
}

button {
    border-radius: 45px;
    background-color: #76ABAE;
    border: 1px #76ABAE solid;
    color: #EEEEEE;
    padding: 7px 12px;
    float: right;
}

button:hover {
    background-color: #039fa8;
}
.recetas-preparacion button {
    display: block; 
    margin: 20px auto;
}
.top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px; 
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease;
}

.top-btn:hover {
    opacity: 0.8;
}

.titulo-main {
    border-bottom: grey solid 8px;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.slider {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    border-bottom: rgb(240, 232, 232) solid 8px;
    color: white;
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: center;
}

@keyframes slidein {
    from {
        opacity: 0.2;
    }
  
    to {
        opacity: 1;
    }
  }

.texto-slider p {
    color: #EEEEEE;
    font-size: 0.9em;
    line-height: 1.5;
    margin-top: 40px;
    padding: 0 10px;
}

h1 {
    font-family: "Marcellus SC", serif;
    font-size: 3em;
    font-weight: 500;
    color: #EEEEEE;
    margin-top: 60px;
}

.img-fondo-slider {
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
}

.img-fondo-slider img {
    display: block;
    width: 60vw;
    height: 70vh;
    transition: 2000ms;
}

.ingreso-principal {
    display: flex;
    background-image: url(../imagenes/fondo-asado2.jpg);
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.info-form {
    background-color: #222831;
    height: 390px;
    width: 50px;
    text-align: center; 
    margin-left: 330px;
    border-radius: 30px;
    padding: 0px 30px;
    box-sizing: border-box;
}

.login {
    display: flex;                     
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 50px;
    height: 390px;
    text-align: center;
    margin-right: 330px;
    border-radius: 30px;
}

.info-form, .info-form-2, .login, .form-registro {
    flex: 1;
    margin-top: 50px;
}

.boton-formulario {
    padding: 10px 20px;
    background-color: #76ABAE;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Raleway";
    font-size: 1em;
    transition: background-color 0.5s;
}

.boton-formulario-1 {
    padding: 10px 20px;
    background-color: #76ABAE;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Raleway";
    font-size: 1em;
    transition: background-color 0.5s;
    margin-right: 1.5em;
}

.boton-formulario-2 {
    padding: 10px 20px;
    background-color: #76ABAE;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Raleway";
    font-size: 1em;
    transition: background-color 0.5s;
    margin-left: 1em;
    margin-right: 4em;
    margin-top: -0.7em; 
}

.input-form {
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-family: "Raleway";
}

.link-form {
    background-color: #76ABAE;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    font-family: "Raleway";
    transition: background-color 0.5s;
}

.link-form-1 {
    background-color: #76ABAE;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    font-family: "Raleway";
    transition: background-color 0.5s;
    margin-right: 0em;
    margin-left: 6em;
}
.registro-principal {
    display: flex;
    background-image: url(imagenes/fondo-asado2.jpg);
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: row;
    justify-content: center;
}

.info-form-2 {
    background-color: #222831;
    height: 390px;
    width: 50px;
    text-align: center; 
    margin-left: 200px;
    border-radius: 30px;
    padding: 0px 30px;
    box-sizing: border-box;
}

.form-registro {
    background-color: black;
    width: 800px;
    height: 470px;
    text-align: center;
    margin-right: 200px;
    border-radius: 30px;
    padding: 10px 30px;
}

.link-form:hover, .boton-formulario-1:hover, .boton-formulario:hover,
.boton-formulario-2:hover, .link-form-1:hover {
    background-color: #222831;
}
.recetas-main{
    display: block;
}

.recetas-contenedor{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    width: 90%;
    margin: 60px auto 40px auto;
    height: 82vh;
}

.recetas-imagen {
    grid-column: 1; 
    grid-row: 1 / span 2;
}

.recetas-preparacion{
    grid-column: 2; 
    grid-row: 1 / span 2; 
    background-color: #EEEEEE;
    padding: 10px;
    position: relative;
}

.recetas-preparacion button {
    position: absolute;
    bottom: 0;
    right: 10px;
}

.recetas-preparacion ol, ul{
    font-size: 0.8em;
    line-height: 1.7;
    margin: 5px 0 0 0;
}

.recetas-contenedor h3, h4 {
    margin: 10px 0 0 25px;
    font-weight: 600;
}

.recetas-contenedor h3 {
    margin: 10px 0;
}

.recetas p {
    line-height: 1.5;
}

.recetas-ingredientes {
    grid-column: 1;
    grid-row: 2;
    background-color:#EEEEEE;
}

.recetas-ingredientes ul li{
    line-height: 1.5;
}

.recetas-contenedor > div:first-child {
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.recetas-imagen-empanadas {
    background-image: url(../imagenes/empanadas.jpg);    
}

.recetas-imagen-humita {
    background-image: url(../imagenes/humita-chala-1024x683.jpg);
}

.recetas-imagen-locro {
    background-image: url(../imagenes/locro.jpg);
}

.recetas-imagen-asado {
    background-image: url(../imagenes/fondo-asado.png);
}

.recetas-imagen-milanesas{
    background-image: url(../imagenes/milanesas.jpg);
}

.recetas-imagen-pastas {
    background-image: url(../imagenes/pastas.jpg);
}

.recetas-imagen-pizza {
    background-image: url(../imagenes/pizza.jpeg);
}

.recetas-imagen-cabrito {
    background-image: url(../imagenes/piernas-de-cabrito-asadas-1.jpg);
}

.recetas-imagen-carbonada {
    background-image: url(../imagenes/carbonada-en-zapallo.jpg);
}

.recetas-imagen-cazuela {
    background-image: url(../imagenes/cazuelaave.jpg);
}

.recetas-imagen-puchero {
    background-image: url(../imagenes/Receta-de-Puchero.webp);
}

.recetas-imagen-surubi {
    background-image: url(../imagenes/surubi.webp);
}

.recetas-imagen-sopa {
    background-image: url(../imagenes/sopa-paraguaya.jpg);
}

.recetas-imagen-chipa {
    background-image: url(../imagenes/chipa.jpg);
}

.recetas-imagen-cordero {
    background-image: url(../imagenes/cordero-paatag.jpg);
}

.recetas-imagen-trucha {
    background-image: url(../imagenes/trucha.webp);
}

.recetas-imagen-mariscos {
    background-image: url(../imagenes/mariscos.webp);
}

.recetas-imagen-ciervo {
    background-image: url(../imagenes/ciervo.webp);
}
.titulo-recomendaciones {
    background-color:#76ABAE;
    padding: 20px;
}

.recomendaciones {
    padding-top: 60px;
}

.h3-recomendaciones {
    color: white;
    font-weight: 500;
    font-size: 2em;
    margin-top: 0;
    text-align: center;
}

.p-recomendaciones {
    color: white;
    text-align: center;
    margin-left: 3em;
    margin-right: 3em;
}

.contenedor-acordeon{
    width: 100%;
    max-width: 1080px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
}
.contenedor-acordeon h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 35px;
}

.acordeon {
    background: #fff;
}

.acordeon label {
    display: block;
    padding: 20px;
    font-size: 20px;
    background: #1c1c1c;
    color: #fff;
    cursor: pointer;
    margin-bottom: 2px;
    transition: all 300ms ease;
}

.acordeon label:hover {
    background: #2e2e2e;
}

.acordeon .contenido-acordeon {
    padding: 0px;
    margin: 0px 20px;
    max-height: 0px;
    overflow: auto;
    transition: all 800ms ease;
}

.btn-acordeon:checked ~ .contenido-acordeon{
    max-height: 800px;
    padding: 15px 0px;
}

.btn-acordeon{
    display: none;
    margin-top: 0px;
}

.iframe-ig {
    width: 100%; 
    height: 300px
}

.iframe-maps {
    width: 100%; 
    height: 300px
}

.iframes {
    margin-bottom: 500px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
    width: 100%;
}

.iframe-ig .iframe-maps {
    display: 1;
    
}

.p-iframe{
    color:white;
    background-color: #76ABAE;
    padding: 10px, 20px, 10px, 20px;
    text-align: center;
}

.iframe-maps-2 {
    width: 400px;
}

.contenedor-contacto {
        display: flex;
        background-image: url(../imagenes/fondo-principal.jpg);
        height: auto;
        background-size: cover;
        background-repeat: no-repeat;
        color: white;
        align-items: center;
        /* height: 100vh; */
        width: 100vw;
        overflow: hidden;
    }

.form-contacto {
    background-color: #222831;
    height: 390px;
    width: 50px;
    text-align: center; 
    margin-left: 330px;
    border-radius: 30px;
    padding: 0px 30px;
    box-sizing: border-box;
}

.form-contacto-con-js {
    background-color: black;
    width: 800px;
    height: 500px;
    text-align: center;
    margin-right: 200px;
    border-radius: 30px;
    padding: 10px 30px;
} 

.contenedor-contacto, .form-contacto, .form-contacto-con-js {
    flex: 1;
    margin-top: 30px;
}

.alertas {
    width: 23em;
    height: 13em;
    text-align: center;
    margin: auto;
    padding-top: 20px;
    color: #FF0000;
    font-weight: bold;
    background-color: black;
}
.input-form {
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-family: "Raleway";
    }

.boton-formulario-contacto {
    padding: 10px 20px;
    background-color: #76ABAE;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Raleway";
    font-size: 1em;
    transition: background-color 0.5s;
}


.alertas {
    background: none;
    position: absolute;
    height: 1.5rem;
}
